[submodule "external/vk-engine"]
	path = external/vk-engine
	url = git@github.com:Sebastian-Dawid/vk-engine.git
[submodule "external/includes"]
	path = external/includes
	url = git@github.com:Sebastian-Dawid/includes.git
